<div class="flex flex-row justify-between">
  <h1 class="text-4xl">Motoristas</h1>
  <p-button label="Cadastrar motorista" icon="pi pi-plus" (click)="openDialog()" />
</div>

<p-table [value]="driverService.getValue()" [tableStyle]="{ 'min-width': '50rem' }" class="mt-4">
  <ng-template #header>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Data de criação</th>
      <th>Última atualização</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template #body let-driver>
    <tr>
      <td>{{ driver.name }}</td>
      <td>{{ driver.cnh_category }}</td>
      <td>{{ driver.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ driver.updated_at | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>
        @if (driver.is_active) {
          <i class="pi pi-check-circle" style="color: #008000"></i>
        } @else {
          <i class="pi pi-times-circle" style="color: #880808"></i>
        }
      </td>
      <td>
        <div class="flex gap-2">
          <p-button
            icon="pi pi-pencil"
            severity="contrast"
            (click)="editDialog(driver.id)"
            [disabled]="!driver.is_active"
          />
          <p-button
            icon="pi {{ driver.is_active ? 'pi-times' : 'pi-replay' }}"
            severity="danger"
            (click)="confirmInactivation($event, driver.id, driver.is_active)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="card flex justify-center">
  <p-dialog
    header="{{ editId ? 'Edição' : 'Cadastro' }} de motorista"
    [modal]="true"
    [(visible)]="formDialogVisible"
    [style]="{ width: '500px' }"
    closable="false"
  >
    <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
      <div class="flex gap-2 items-center justify-center">
        <div class="flex flex-col">
          <label class="font-semibold">Nome*</label>
          <input
            pInputText
            formControlName="name"
            class="flex-auto"
            [invalid]="isInvalid('name')"
          />
        </div>
        <div class="flex flex-col">
          <label class="font-semibold">CPF*</label>
          <input
            [invalid]="isInvalid('cpf')"
            pInputText
            formControlName="cpf"
            mask="000.000.000-00"
            [validation]="true"
            [dropSpecialCharacters]="false"
            class="flex-auto"
          />
        </div>
      </div>

      <div class="flex gap-2 items-center justify-center">
        <div class="flex flex-col">
          <label class="font-semibold">Número da CNH*</label>
          <input
            [invalid]="isInvalid('cnh_number')"
            pInputText
            formControlName="cnh_number"
            class="flex-auto"
            mask="000000000"
            [validation]="true"
          />
          @if (isInvalid('cnh_number')) {
            <p-message severity="error" size="small" variant="simple"
              >Favor preencher com todos os digitos (9).</p-message
            >
          }
        </div>
        <div class="flex flex-col">
          <label class="font-semibold">Telefone</label>
          <input
            pInputText
            formControlName="phone"
            class="flex-auto"
            [specialCharacters]="['(', ')', '-', ' ']"
            shownMaskExpression="'(__) _____-____'"
            mask="(00) 00000-0000"
          />
        </div>
      </div>

      <div class="mt-2 items-center items-center justify-center">
        <div class="flex items-center gap-4">
          <label class="font-semibold">Categoria CNH*</label>
          <p-select
            [invalid]="isInvalid('cnh_category')"
            appendTo="body"
            class="w-fit"
            formControlName="cnh_category"
            [options]="optionsCNH"
          />
        </div>
      </div>

      @if (!driverForm.valid && formSubmitted) {
        <div class="text-center">
          <p-message severity="error" size="small" variant="simple">
            Os campos marcados por asterícos (*) são obrigatórios.
          </p-message>
        </div>
      }
      <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="closeDialog()" />
        <p-button type="submit" label="Salvar" />
      </div>
    </form>
  </p-dialog>
</div>

<p-confirmdialog />
<p-toast />
