<div class="flex flex-row justify-between">
  <div class="flex gap-2">
    <h1 class="text-4xl">Ordens de transporte</h1>
    <p-select
      [options]="driverService.getValue()"
      placeholder="Filtrar motorista"
      optionLabel="name"
      [(ngModel)]="selectedDriverFilter"
      (onChange)="filterByDriverId()"
    />
    <p-select
      [options]="optionsOrder"
      placeholder="Filtrar status"
      optionLabel="label"
      [(ngModel)]="selectedStatus"
      (onChange)="filterByStatus()"
    />
    @if (selectedStatus !== undefined || selectedDriverFilter !== undefined) {
      <p-button severity="contrast" label="Limpar filtros" (click)="clearFilters()" />
    }
  </div>
  <p-button label="Cadastrar ordem" icon="pi pi-plus" (click)="openDialog()" />
</div>

<p-table
  [value]="transportOrderService.getValue()"
  [tableStyle]="{ 'min-width': '50rem' }"
  class="mt-4"
>
  <ng-template #header>
    <tr>
      <th>Número</th>
      <th>Endereço de destino</th>
      <th>Endereço de origem</th>
      <th>Peso (kg)</th>
      <th>Status</th>
      <th>Data prevista para entrega</th>
      <th>Data de criação</th>
      <th>Última atualização</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template #body let-order>
    <tr>
      <td>{{ order.order_number }}</td>
      <td>{{ order.origin_address }}</td>
      <td>{{ order.destination_address }}</td>
      <td>{{ order.weight_kg ?? '-' }}</td>
      <td>
        <div class="{{ order.status }}-text">{{ order.status | statustitle }}</div>
      </td>
      <td>{{ order.scheduled_date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ order.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ order.updated_at | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>
        <div class="flex gap-2">
          <p-button
            icon="pi pi-arrow-up"
            severity="success"
            [disabled]="order.status == 'delivered'"
            (click)="confirmAdvancement($event, order.status, order.id)"
          />
          <p-button icon="pi pi-pencil" severity="contrast" (click)="editDialog(order.id)" />
          <p-button
            [disabled]="order.status != 'pending'"
            icon="pi pi-times"
            severity="danger"
            (click)="confirmRemoval($event, order.status, order.id)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="flex justify-center">
  <p-dialog
    header="{{ editId ? 'Edição' : 'Cadastro' }} de ordem de transporte"
    [modal]="true"
    [(visible)]="formDialogVisible"
    [style]="{ width: '600px' }"
    closable="false"
  >
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-col">
          <label class="font-semibold">Número da ordem*</label>
          <input
            pInputText
            type="number"
            formControlName="order_number"
            class="flex-auto"
            [invalid]="isInvalid('order_number')"
          />
        </div>
        <div class="flex flex-col">
          <label class="font-semibold">Motorista*</label>
          <p-select
            appendTo="body"
            class="w-fit"
            formControlName="driver_id"
            [options]="driverService.getValue()"
            optionLabel="name"
            optionValue="id"
            [invalid]="isInvalid('driver_id')"
          />
        </div>
        <div class="flex flex-col">
          <label class="font-semibold">Endereço de origem*</label>
          <input
            pInputText
            formControlName="origin_address"
            class="flex-auto"
            [invalid]="isInvalid('origin_address')"
          />
        </div>
        <div class="flex flex-col">
          <label class="font-semibold">Endereço de destino*</label>
          <input
            pInputText
            formControlName="destination_address"
            class="flex-auto"
            [invalid]="isInvalid('destination_address')"
          />
        </div>
        <div class="flex flex-col">
          <label class="font-semibold">Peso da carga (kg)</label>
          <input
            pInputText
            type="number"
            formControlName="weight_kg"
            class="flex-auto"
            [invalid]="isInvalid('weight_kg')"
          />
          @if (isInvalid('weight_kg')) {
            <p-message severity="error" size="small" variant="simple"
              >Favor preencher com no mínimo uma casa decimal.</p-message
            >
          }
        </div>
        <div class="flex flex-col justify-center">
          <label class="font-semibold">Data prevista de entrega*</label>
          <p-datepicker formControlName="scheduled_date" appendTo="body" />
        </div>
      </div>
      <div class="flex flex-col">
        <label class="font-semibold">Descrição da carga*</label>
        <textarea
          rows="5"
          cols="30"
          pTextarea
          formControlName="cargo_description"
          variant="filled"
        ></textarea>
        <label class="font-semibold">Observações</label>
        <textarea rows="5" cols="30" pTextarea formControlName="notes" variant="filled"></textarea>
      </div>
      @if (!orderForm.valid && formSubmitted) {
        <div class="text-center">
          <p-message severity="error" size="small" variant="simple">
            Os campos marcados por asterícos (*) são obrigatórios.
          </p-message>
        </div>
      }
      <div class="flex justify-end gap-2 mt-2">
        <p-button label="Cancelar" severity="secondary" (click)="closeDialog()" />
        <p-button type="submit" label="Salvar" />
      </div>
    </form>
  </p-dialog>
</div>

<p-confirmdialog />
<p-toast />
