@use 'tailwindcss';
@use 'primeicons/primeicons.css';

:root {
  --sidenav-width: 300px;
}

body {
  margin: 0;
}

.pending-text {
  color: #880808;
}

.collecting-text {
  color: #e65606;
}

.collected-text {
  color: #1665c0;
}

.delivering-text {
  color: #5c9a5f;
}

.delivered-text {
  color: #236428;
}
